body {
    font-family: arial;
}

h1, h2 {
    color: darkorange;
}

ul li a {
    color: lightblue;
}

ol li a {
    color: blueviolet;
}

#p1 {
    color: cornflowerblue;
}

.p2 {
    color: darkblue;
}

.cetak-tebal {
    font-weight: bold;
}

.cetak-tebal {
    font-size: 30px;
}